body {
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page,
.register-page {
  background: url("https://freedesignfile.com/upload/2017/02/Movie-theater-background-with-red-seats-vector-05.jpg")
    no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}


