

#registration{
  background-color:rgb(53, 53, 53);
  opacity: 0.5;
  font-size: 25px;
  color: rgb(139, 138, 138);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 5px;
  }
